select::-ms-expand {
  display: none;
  /*FOR IE*/
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.bold {
  font-weight: bold;
}

header {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #F7F4EC;
  border-bottom: 1px solid #000000;
}

header nav {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

header a,
select {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

header a:hover {
  /* background-color: #ddd;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease; */
  font-weight: bold;
}

header a.active {
  background-color: #ffe521;
  color: black;
}

header .icon {
  display: none;
}

#logo {
  margin-top: 5px;
}

#logo:hover {
  background-color: unset;
}

header a:has(img) {
  display: block;
  padding: 14px 16px;
  height: 3vh;
}

img {
  content: url("laboratoriaplus.svg");
}

button {
  background-color: #000;
  border: none;
  color: #F7F4EC;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  border-radius: 40px;
  white-space: nowrap;
}

header nav button {
  display: none;
}

button:hover {
  background-color: #56F89A;
  color: black;
  transition: all 0.2s ease;
}

button:active {
  background-color: #56F89A;
  color: black;
}

#login {
  background-color: #F7F4EC;
  color: black;
  border: 2px solid #000;
  border-radius: 40px;
  white-space: nowrap;
}

#login:hover {
  background-color: black;
  color: #F7F4EC;
  border-color: black;
  transition: all 0.2s ease;
}

#login:active {
  background-color: black;
  color: black;
}

select {
  -webkit-appearance: none;
  /*REMOVES DEFAULT CHROME & SAFARI STYLE*/
  -moz-appearance: none;
  /*REMOVES DEFAULT FIREFOX STYLE*/
  border: 0 !important;
  /*REMOVES BORDER*/

  background: transparent;
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 50%;

  background-color: #fff;
  font-size: large;
  cursor: pointer;
}

/* 
header nav select {
  display: none;
}
*/

@media screen and (min-width: 1200px) {
  header {
    padding-inline: 10vw;
  }
}

@media screen and (max-width: 768px) {

  button {
    padding: 4px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    display: none;
  }

  header select {
    display: none;
  }

  header.opened button {
    display: none;
  }

  header.opened nav button,
  header.opened nav select {
    float: none;
    display: block;
    text-align: center;
    margin-inline: auto;
    font-size: x-large;
    white-space: nowrap;
    margin-bottom: 5vh;
  }

  header.opened nav button {
    width: 200px;
    height: 50px;
    overflow: hidden;
  }

  header #burger {
    margin-left: auto;
    width: 38.53px;
  }

  header.closed #burger {
    margin-top: 5px;
  }

  header #burger:hover {
    background-color: unset;
    color: black;
  }

  header a:has(img) {
    display: block;
    padding: 14px 16px;
    width: 38.53px;
    /* height: 20px; */
    margin-right: auto;
    margin-top: 5px;
  }

  img {
    /* width: 38.53px; */
    height: 20px;
    content: url("laboratoriaplus.svg");
    transition: all 0.5s ease, background-color 0.5s;
  }

  header.opened img {
    margin-top: 10px;
    height: 25px;
  }

  header {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #ffe521;
    align-items: flex-start;
    align-content: flex-start;
    transition: all 1s ease, background-color 0.5s;
    padding-inline: unset;
  }

  .closed {
    background-color: #F7F4EC;
    max-height: 10vh;
  }

  .opened {
    background-color: #F7F4EC;
    height: 100vh;
    max-height: 100vh;
  }

  svg {
    height: 2vh;
  }

  header.opened svg {
    margin-top: 10px;
    height: 4vh;
  }

  header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-top: 5vh;
    margin-bottom: -5vh;
    position: absolute;
  }

  header a {
    display: none;
  }

  header a.icon {
    float: right;
    display: block;
  }

  header.responsive {
    position: relative;
  }

  header.responsive .icon {
    right: 0;
    top: 0;
  }

  header.responsive nav a {
    float: none;
    display: block;
    text-align: center;
    font-size: x-large;
    white-space: nowrap;
    margin-bottom: 4vh;

  }

  header.responsive select {
    background-color: #ffe521;
    transition: all 1s ease, background-color 0.5s;
  }

  header select {
    margin-left: auto;
    transition: all 1s ease, background-color 0.5s;
  }
}